DATABASE_URL=jdbc:postgresql://localhost:5432/<your_database_name>
JWT_SECRETE=<random_string_of_your_key>
JWT_EXPIRATION_M_SECONDS=<jwt_expiration_in_milliseconds>
DB_USER_NAME=<your_db_user_name>
DB_PASSWORD=<your_db_password>
